node_modules/
build/
build-*/
_archive/
.logs/
server-*.log

.env
.env.local
.env.*.local

prisma/dev.db
prisma/dev.db-journal
*.db
*.db-journal

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
